.goal-submission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60vw;
    margin: 5rem auto 2rem auto;
    border-radius: 5px;
    padding: 1rem 1rem .5rem 1rem;
    border: 1px solid grey;
}

.goal-submission-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-buttons {
    display: flex;
    flex-direction: row;
}

#header-button {
    margin-left: 1rem;
}

.collapsediv1 {
    display: flex;
    flex-direction: column;
}

#checkbox-hide {
    display: none;
}

#checkbox-hide-2 {
    display: none;
}

li > label {
    font-size: 2rem;
}

.submit-form-desc {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 20vh;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    box-shadow: none;
}

.goal-submit {
    align-self: center;
}

.submit-form-title {
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    padding: 0.5rem;
    box-shadow: none;
}

form > label {
    align-self: center;
}

.goals-visual {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.goal {
    border-radius: 5px;
    border: 1px solid rgb(163, 163, 163);
    width: 50vw;
    margin: auto auto 1rem auto;
    padding: 1rem 1rem 0.5rem 1rem;
}

.goal > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 2rem;
    max-width: 40vw;
    overflow-x: auto;
}

.goal-text {
    border: 1px solid rgb(190, 190, 190);
    padding: 1rem;
    text-align: left;
}

ul {
    padding: 0;
    list-style-type: none;
}

.date-timestamp {
    padding: 0;
    margin-bottom: 0.3rem;
}

.timestamp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media(max-width: 1000px) {
    .goal-submission {
        inherits: all;
        max-width: 90vw;
    }

    .goal {
        inherits: all;
        width: 90vw;
    }

    .title {
        inherits: all;
        font-size: 1.4rem;
    }

    .goal-submission-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #header-buttons {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    #header-button {
        margin-top: 0;
    }

    .submit-button {
        margin-bottom: 0.5rem;
    }
}