.goal-submission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40vw;
    margin: 1rem auto 2rem auto;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid grey;
}

.submit-form-desc {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 10vh;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    box-shadow: none;
}

.goal-submit {
    align-self: center;
}

.submit-form-title {
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    padding: 0.5rem;
    box-shadow: none;
}

form > label {
    align-self: center;
}

.goals-visual {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.goal {
    border-radius: 5px;
    border: 1px solid rgb(163, 163, 163);
    width: 40vw;
    margin: auto auto 1rem auto;
    padding: 1rem;
}

.goal > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 2rem;
    max-width: 40vw;
}

.goal > p {
    border: 1px solid rgb(190, 190, 190);
    padding: 1rem;
    text-align: left;
}

ul {
    padding: 0;
    list-style-type: none;
}

@media(max-width: 1000px) {
    .goal-submission {
        inherits: all;
        max-width: 80vw;
    }

    .goal {
        inherits: all;
        width: 80vw;
    }

    .title {
        inherits: all;
        font-size: 1rem;
    }
}