.tips {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin: 5rem auto;
    line-height: 2rem;
}

.tips h1 {
    text-align: center;
    margin-bottom: 1rem;
}

@media(max-width: 1000px) {
    .tips {
        inherits: all;
        max-width: 80vw;
    }
}